apiVersion: apps/v1
kind: Deployment
metadata:
  name: pixel-app
  labels:
    app: static
spec:
  replicas: 3
  selector:
    matchLabels:
      app: static
  template:
    metadata:
      labels:
        app: static
    spec:
      containers:
        - name: nginx
          image: adesh0303/eks-app:8172f88204c11fe149a28b678c6f44345a9abb97
          ports:
            - containerPort: 80
