apiVersion: apps/v1
kind: Deployment
metadata:
  name: pixel-app
  labels:
    app: static
spec:
  replicas: 3
  selector:
    matchLabels:
      app: static
  template:
    metadata:
      labels:
        app: static
    spec:
      containers:
        - name: nginx
          image: adesh0303/eks-app:31e910153b76c767eaeb0dc0c5c84688d41ffecc
          ports:
            - containerPort: 80
