name: Build docker image and update the deployment file

on:
    push:
        branches: [main]

jobs:
    image_build: 
            runs-on: ubuntu-latest

    # Step 1: checkout the repository
            steps:
              - name: Checkout repository
                uses: actions/checkout@v2

    # Step 2: Log in to Docker hub

              - name: Log in to Docker Hub
                uses: docker/login-action@v2
                with:
                    username: ${{ secrets.DOCKER_USERNAME }}
                    password: ${{ secrets.DOCKER_PASSWORD }}
                continue-on-error: true
              
              - name: Verify Docker Login
                run: |
                  docker info
                  docker --version
                continue-on-error: true
                
    # Step 3: Build and push the Docker image
              - name: check the directory path
                run: |
                  pwd
                  ls -la
            
              - name: Build and push Docker image                 
                uses: docker/build-push-action@v3
                with:
                    context: .
                    file: ./src/Dockerfile
                    push: true
                    tags: adesh0303/eks-app:${{ github.sha }}

    update-deployment:
            needs: image_build
            runs-on: ubuntu-latest

            steps:
              - name: Checkout repository
                uses: actions/checkout@v2
              - name: Update deployment file with new image
                run: |
                    sed -i 's|image: adesh0303/eks-app:.*|image: adesh0303/eks-app:${{ github.sha }}|' manifest/deployment.yaml                          
        


